.button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #295ff3;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #3b68e4;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
}
